/* 三角形 */
@mixin triangle($borderWidth: 10, $shapeColor: #666, $direction: up) {
    width: 0;
    height: 0;
    border: if(unit($borderWidth) != '', #{$borderWidth}, #{$borderWidth}px) solid transparent;

    $doubleBorderWidth: 2 * $borderWidth;
    
    $borderStyle: if(unit($doubleBorderWidth) != '', #{$doubleBorderWidth}, #{$doubleBorderWidth}px) solid #{$shapeColor};

    @if($direction == 'up') {
        border-bottom: $borderStyle;
    }

    @if($direction == 'down') {
        border-top: $borderStyle;
    }

    @if($direction == 'left') {
        border-right: $borderStyle;
    }

    @if($direction == 'right') {
        border-left: $borderStyle;
    }
}

/* 实心圆 */
@mixin disc($diameter: 15, $bgColor: #666) {
    border-radius: 50%;
    width: if(unit($diameter) == '', #{$diameter} + 'px', #{$diameter});
    height: if(unit($diameter) == '', #{$diameter} + 'px', #{$diameter});
    @if(str-index(#{$bgColor}, 'gradient') == null) {
      background-color: #{$bgColor};
    }

    @else {
      background-image: #{$bgColor};
    }
}

/* 宽高二比一矩形 */