/* 三角形 */
@mixin triangle($borderWidth: 10, $shapeColor: #666, $direction: up) {
    width: 0;
    height: 0;
    border: if(type-of($borderWidth) == 'number', #{$borderWidth} + 'px', #{$borderWidth}) solid transparent;

    $doubleBorderWidth: 2 * $borderWidth;
    
    $borderStyle: if(type-of($doubleBorderWidth) == 'number', #{$doubleBorderWidth} + 'px', #{$doubleBorderWidth}) solid #{$shapeColor};

    @if($direction == 'up') {
        border-bottom: $borderStyle;
    }

    @if($direction == 'down') {
        border-top: $borderStyle;
    }

    @if($direction == 'left') {
        border-right: $borderStyle;
    }

    @if($direction == 'right') {
        border-left: $borderStyle;
    }
}

/* 实心圆 */
@mixin disc($diameter: 15, $bgColor: #666) {
    width: if(type-of($diameter) == 'number', #{$diameter} + 'px', #{$diameter});
    height: if(type-of($diameter) == 'number', #{$diameter} + 'px', #{$diameter});
    @if(str-index(#{$bgColor}, 'gradient') == null) {
      background-color: #{$bgColor};
    }

    @else {
      background-image: #{$bgColor};
    }
    border-radius: 50%;
}

/* 宽高二比一矩形 */