@import './layout/center.scss';
@import './variable.scss';

/* 三角形 */
@mixin triangle($borderWidth: 10, $shapeColor: #666, $direction: up) {
    width: 0;
    height: 0;
    border: if(unit($borderWidth) != '', #{$borderWidth}, #{$borderWidth}px) solid transparent;

    $doubleBorderWidth: 2 * $borderWidth;
    
    $borderStyle: if(unit($doubleBorderWidth) != '', #{$doubleBorderWidth}, #{$doubleBorderWidth}px) solid #{$shapeColor};

    @if($direction == 'up') {
        border-bottom: $borderStyle;
    }

    @if($direction == 'down') {
        border-top: $borderStyle;
    }

    @if($direction == 'left') {
        border-right: $borderStyle;
    }

    @if($direction == 'right') {
        border-left: $borderStyle;
    }
}

/* 实心圆 */
@mixin disc($diameter: 15, $bgColor: #666) {
    border-radius: 50%;
    width: if(unit($diameter) == '', #{$diameter} + 'px', #{$diameter});
    height: if(unit($diameter) == '', #{$diameter} + 'px', #{$diameter});
    @if(str-index(#{$bgColor}, 'gradient') == null) {
      background-color: #{$bgColor};
    }

    @else {
      background-image: #{$bgColor};
    }
}

/* 宽高二比一矩形 */

/* 
* 图片遮罩层
* shape: circle | rectangle
*/
@mixin image-mask($opacity: 0.7, $shape: circle, $zIndex: 1, $height: 30%) {
    position: relative;

    > .mask,
    > .mask-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @if($shape == 'circle') {
            top: 0;
        }
        @else {
            height: if(unit($height) == '', #{$height} + 'px', #{$height});
        }
    }

    > .mask {
        z-index: $zIndex;
        background-color: #000;
        opacity: #{$opacity};
        
        @if($shape == 'circle') {
            border-radius: 50%;
        }
    }

    > .mask-text {
        z-index: $zIndex + 1;
        color: #fff;
        word-break: break-all;

        @include center;
    }
}

/* 
* 点
* size: 尺寸，宽和高一样，默认是 5px
* backgroundColor: 背景颜色，默认是白色
* marginInline: 水平外边距，默认左右都是 5px
*/
@mixin point($size: 5px, $backgroundColor: $white, $marginInline: 5px) {
    display: inline-block;
    width: $size;
    height: $size;
    background-color: $backgroundColor;
    border-radius: 50%;
    margin-inline: $marginInline;
    vertical-align: middle;
}