/* 文本溢出显示省略号 */
@mixin text-overflow($width, $line: 1) {
  width: if(unit($width) == '', #{$width} + 'px', #{$width});
  overflow: hidden;

  @if($line == 1) {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @if($line > 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    word-break: break-all;
  }
}

/*
* 功能：1px 物理像素
* 前提：正确设置 meta 标签，即 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
*/
@mixin one-physical-pixel-border($bStyle, $color, $bDir: null) {
	position: relative;

	&:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    transform: scale(0.5);

    @if($bDir == 'top' or $bDir == 'bottom') {
      left: 0;
      #{$bDir}: 0;
      width: 200%;
      height: 0;
      transform-origin: left $bDir;
      border-#{$bDir}: 1px $bStyle $color;
    }

    @if($bDir == 'left' or $bDir == 'right') {
      top: 0;
      #{$bDir}: 0;
      width: 0;
      height: 200%;
      transform-origin: $bDir top;
      border-#{$bDir}: 1px $bStyle $color;
    }

    @if($bDir == null) {
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      transform-origin: left top;
      border: 1px $bStyle $color;
    }
	}
}

/* 清除浮动 */
@mixin clearfix {
  &::after{
    content:"";
    display:table;
    clear:both;
  }
}

.clearfix {
  @include clearfix;
}

/* 指定背景图像的大小 */
@mixin backgroundSize($image, $width: 100%, $height: 100%) {
  background-image: url(#{$image});
  background-size: $width $height;
}

/* 宽度 */
@mixin w($width) {
  width: $width;
}

/* 高度 */
@mixin h($height) {
  height: $height;
}

/* 宽度 + 高度 */
@mixin w-h($width, $height) {
  @include w($width);
  @include h($height);
}

/* 字体大小 */
@mixin fz($fontSize) {
  font-size: $fontSize;
}

/* 字重 */
@mixin fw($fontWeight: normal) {
  font-weight: $fontWeight;
}

/* 字体大小 + 字重 */
@mixin fzw($fontSize, $fontWeight) {
  @include fz($fontSize);
  @include fw($fontWeight);
}

/* 上外边距 */
@mixin mt($marginTop) {
  margin-top: $marginTop;
}

/* 下外边距 */
@mixin mb($marginBottom) {
  margin-bottom: $marginBottom;
}

/* 左外边距 */
@mixin ml($marginLeft) {
  margin-left: $marginLeft;
}

/* 右外边距 */
@mixin mr($marginRight) {
  margin-right: $marginRight;
}

/* 左上外边距 */
@mixin mlt($marginLeft, $marginTop) {
  @include ml($marginLeft);
  @include mt($marginTop);
}

/* 左下外边距 */
@mixin mlb($marginLeft, $marginBottom) {
  @include ml($marginLeft);
  @include mb($marginBottom);
}

/* 右上外边距 */
@mixin mrt($marginRight, $marginTop) {
  @include mr($marginRight);
  @include mt($marginTop);
}

/* 右下外边距 */
@mixin mrb($marginRight, $marginBottom) {
  @include mr($marginRight);
  @include mb($marginBottom);
}