/* 居中对齐 */
.tc {
    text-align: center;
}

/* 左对齐 */
.tl {
    text-align: left;
}

/* 右对齐 */
.tr {
    text-align: right;
}

/* 溢出隐藏 */
.oh {
    overflow: hidden;
}

/* 绝对定位 */
.abs {
    position: absolute;
}

/* 相对定位 */
.rel {
    position: relative;
}