/* 列表 */
ol,
ul {
	list-style: none;
}

/* 表格 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 文本域 */
textarea {
	resize: none;
}

/* 置灰状态不可点击 */
.disabled,
[disabled] {
	cursor: not-allowed;
}

.disabled2 {
	pointer-events: none;
}

* {
	line-height: 1;
}

/* 底部安全区域 */
.bottom-safe-area {
	bottom: constant(safe-area-inset-bottom);
	bottom: env(safe-area-inset-bottom);
}