/* 列表 */
ol,
ul {
	list-style: none;
}

/* 表格 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 文本域 */
textarea {
	resize: none;
}

/* 置灰状态不可点击 */
.disabled,
[disabled] {
	cursor: not-allowed;
}

.disabled2 {
	pointer-events: none;
}

* {
	line-height: 1;
	user-select: none;
}