@import './flex.scss';

/* 垂直水平居中 */
@mixin center($layoutType: flex) {
    @if($layoutType == 'absolute') {
        position: relative;

        > :first-child {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @else {
        @include flex;
    }
}